body{

margin:0;

font-family:Arial;

background:#f4f4f4;

}

.container{

max-width:400px;

margin:40px auto;

background:white;

padding:30px;

border-radius:12px;

box-shadow:0 0 10px rgba(0,0,0,.2);

text-align:center;

}

.logo{

width:180px;

margin-bottom:20px;

}

input{

width:100%;

padding:14px;

margin-top:12px;

border-radius:8px;

border:1px solid #ccc;

box-sizing:border-box;

font-size:15px;

}

button{

width:100%;

padding:14px;

margin-top:20px;

background:#00843D;

color:white;

font-size:16px;

border:none;

border-radius:8px;

cursor:pointer;

}

button:hover{

background:#006F33;

}

.login{

background:#f39c12;

}

#info{

margin-top:20px;

font-weight:bold;

}
