*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
Arial, sans-serif;

background:#0B1F3A;

color:white;

}





/* HEADER */


.header{

background:#F4C400;

color:#002B5B;

padding:20px 40px;

display:flex;

justify-content:space-between;

align-items:center;

}



.brand{

display:flex;

align-items:center;

gap:20px;

}



.brand img{

width:170px;

}



.brand h1{

margin:0;

font-size:26px;

}





.header button,
.filter button{

background:#005BAC;

color:white;

border:none;

padding:12px 25px;

border-radius:10px;

}





.container{

padding:30px;

}





/* KPI */


.kpi{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:20px;

}



.card{

background:white;

color:#002B5B;

padding:25px;

border-radius:15px;

text-align:center;

}



.card span{

font-size:40px;

font-weight:bold;

}





/* FILTER */


.filter,
.box{

background:white;

color:#333;

padding:25px;

border-radius:15px;

margin-top:25px;

}



.filter-row{

display:flex;

gap:15px;

}



select,
input{

padding:12px;

border-radius:8px;

border:1px solid #ccc;

}





/* DASHBOARD */


.dashboard-grid{

display:grid;

grid-template-columns:
2fr 1fr;

gap:25px;

}



#map{

height:550px;

border-radius:15px;

}



.analytic{

display:flex;

flex-direction:column;

gap:20px;

}



canvas{

max-height:250px;

}





/* TABLE */


table{

width:100%;

border-collapse:collapse;

}



th{

background:#F4C400;

color:#002B5B;

}



td,th{

padding:12px;

border-bottom:1px solid #ddd;

}




footer{

background:#F4C400;

color:#002B5B;

text-align:center;

padding:15px;

}





@media(max-width:1000px){


.kpi{

grid-template-columns:repeat(2,1fr);

}


.dashboard-grid{

grid-template-columns:1fr;

}

}

/* ======================
   DASHBOARD PREMIUM UI
====================== */


.header h1{

margin-bottom:5px;

}


.header h3{

margin-top:5px;

font-weight:normal;

}



.card{

position:relative;

overflow:hidden;

}



.card .title{

font-size:16px;

font-weight:bold;

margin-bottom:10px;

color:#555;

}



.card small{

display:block;

margin-top:10px;

color:#777;

}




.card:hover{

transform:translateY(-8px);

box-shadow:
0 10px 25px rgba(0,0,0,.25);

}



.danger{

border-left:
8px solid #d9534f;

}



.filter-box h2{

margin-top:0;

color:#002B5B;

}



button:hover{

background:#003f7f;

}




.chart-box h2,
.table-box h2{

color:#002B5B;

}




#map{

height:450px;

}



.table-box{

overflow-x:auto;

}



table{

background:white;

}



tbody tr:hover{

background:#f5f5f5;

}
